/* apply a natural box layout model to all elements,
but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

footer {
  background: #ddd;
  text-align: center;
  color: #f9f9f9;
}

a {
  color: #00B7FF;
}

#username {
  border-bottom: 1.75px solid black;
}

input#availability {
  margin-bottom: 0.5em;
}

#container-main {
  margin: 4em auto;
}

#user-info li {
  list-style-type: none;
}

li button.remove {
  margin-right: 0.25em;
}

#add-hero-input {
  margin-bottom: 0.25em;
}

#notes {
  margin-top: 2em;
}