<!-- <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" ng-controller="calendarCtrl"></div> -->


<!-- Apply the directive to your div elements. The calendar must be supplied an array of documented event sources to render itself: -->


<div class="jumbotron text-center">
    <h1>Welcome Support Heros!!</h1>
    <h2 ng-model="currentHero">Today's hero is {{currentHero}}.</h2> 
</div>


<div id="container-main" class="row">
  <div id="user-info" class="col-md-3">
    <h2 id="username">{{user}}</h2>
    <p>{{duty}}</p>
    <h3>On Duty Days</h3>
    <li ng-repeat="d in onDutyDays">{{d}}</li>
    <h3>Unavailable Days:</h3>
    <form>
      <input id="availability" class="form-control" type="text" placeholder="add unavailable day" ng-model="unavailableDay">
      <p class="text-muted"><button type="button" class="btn btn-default btn-sm" ng-click="addUnavailability(unavailableDay)">Add Day</button> format: yyyy-mm-dd</p>
    </form>
    <li ng-repeat="d in unavailable"><button type="button" class="btn btn-default btn-xs remove" ng-click="removeUnavailability($event);remove(unavailable, $index)">&#10005;</button> {{d}}</li>
    <h2>Generate Hero</h2>
    <input id="add-hero-input" class="form-control" placeholder="add date" ng-model="heroDate">
    <p class="text-muted">format: yyyy-mm-dd</p>
    <!-- <p class="text-muted">This will create a swap if a hero is already scheduled.</p> -->
    <button type="button" class="btn btn-default btn-block" style="margin-top: 1em" ng-click="generateHero(heroDate)">Generate Hero</button>
    <h3 ng-model="generatedHero">{{generatedHero}}</h3>
    <h3>Working Days:</h3>
    <li ng-repeat="d in workingDays">{{d}}</li>
  </div>
  <div id="calendar" class="col-md-9">
    <ul id="notes" class="text-muted">
      <li>You may click a day to adjust availability, or you may use the form on the left.</li>
      <li>Generate Hero will create a hero for the given date.</li>
      <li>All dates should be in the format YYYY-MM-DD</li>
    <ul>
  </div>
</div>

<!-- <div id="calendar"></div> -->

<!-- Define your model in a scope e.g. -->
<!-- $scope.eventSources = [] -->
